<!--The content below is only a placeholder and can be replaced.-->

<div class="jumbotron text-center">
  <h1>HŐSÖK KICSIBEN!</h1>
  <p>aki a kicsit nem becsüli...</p>


</div>

<div class="container">

  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="/assets/img/heroes.jpg " alt="heroes image">
      <div class="card-body">
        <h5 class="card-title">Íme a mi hőseink:</h5>
        <br>
        <label for="order">Rendezd:</label>
        <select name="key" id="order" [(ngModel)]="key">
          <option value="name">Név</option>
          <option value="special">Képesség</option>
          <option value="address">Cím</option>
        </select> &nbsp;
        <input type="checkbox" name="orderDirect" id="direction" [(ngModel)]="orderDirect">
        <label for="direction">irányt fordíts</label>

        <ul class="card-text ">
          <!--//event binding-->
          <li *ngFor="let hero of heroes | order:key:orderDirect" (click)="kiir(hero)">{{hero.name}}</li>
        </ul>
      </div>
      <div class="card-footer">
        <small class="text-muted">Kattints valamely hősre, hogy többet megtudj róla</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/img/magneto.jpg" alt="magneto">
      <div class="card-body">
        <h5 class="card-title">Részletek:</h5>
        <app-app-hero-detail [hero]="hero " class="card-text "></app-app-hero-detail>

        <div *appYellow="hero">strukturális direktiva</div>
        <!--struktúrális direkctíva, alapból nem látszik-->
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/img/wander-woman.jpg" alt="Card image cap">
      <div class="card-body">
        <h5>Új hős:</h5>
        <app-hero-form class="card-title"></app-hero-form>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
